body {
  font-family: Tahoma, Calibri, sans-serif;
}

.spinner-custom {
  width: 4rem;
  height: 4rem;
}

.log-custom {
  max-height: 120px;
}

.font-smaller {
  font-size: smaller;
}

.font-small {
  font-size: small;
}

.font-x-small {
  font-size: x-small;
}

.fade-in {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
